In [79]:
from sqlalchemy import create_engine, func
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Text, Date
import pandas as pd
Base = declarative_base()

In [80]:
stations_data = pd.read_csv('hawaii_stations.csv')
stations_data.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [81]:
measurements_data = pd.read_csv('clean_hawaii_measurements.csv')
measurements_data.tail()

           station        date  prcp  tobs
19545  USC00516128  2017-08-19  0.09    71
19546  USC00516128  2017-08-20  0.00    78
19547  USC00516128  2017-08-21  0.56    76
19548  USC00516128  2017-08-22  0.50    76
19549  USC00516128  2017-08-23  0.45    76

In [82]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [69]:
class Measurement2(Base):
    __tablename__ = 'climate_measurements'
    id = Column(Integer, primary_key=True)  
    station = Column(Text)
    date = Column(Integer)
    prcp = Column(Float)
    tobs = Column(Float)

In [83]:
class Station2(Base):
    __tablename__ = 'station_name'
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [84]:
conn = engine.connect()
Base.metadata.create_all(conn)

In [85]:
data = measurements_data.to_dict(orient="records")
data2 = stations_data.to_dict(orient="records")

In [86]:
conn.execute(Measurement2.__table__.delete())
conn.execute(Measurement2.__table__.insert(), data)

conn.execute(Station2.__table__.delete())
conn.execute(Station2.__table__.insert(), data2)

In [88]:
engine.execute("select * from climate_measurements limit 10").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', 0.0, 73.0),
 (6, 'USC00519397', '2010-01-07', 0.06, 70.0),
 (7, 'USC00519397', '2010-01-08', 0.0, 64.0),
 (8, 'USC00519397', '2010-01-09', 0.0, 68.0),
 (9, 'USC00519397', '2010-01-10', 0.0, 73.0),
 (10, 'USC00519397', '2010-01-11', 0.01, 64.0)]